/* basic reset */
* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* general */
body {
	font-family: 'Helvetica', sans-serif;
	width: 1440px;
}
.wrapper {
	margin: 0 auto;
	width: 1440px;
}
.container {
	margin: 0 auto;
	position: relative;
	width: 1440px;
}
.container-narrow {
	margin-left: 160px;
	position: absolute;
	width: 1200px;
}

/* HEADIMG element with video */
.main-photo {
	background-image: url("../img/D-pic1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
	position: relative;
}
.main-photo:hover {
	filter: contrast(115%) saturate(115%);
}
iframe {
	height: 480px;
	left: 270px;
	position: absolute;
	top: 200px;
	width: 900px;
}

/* four FURTHER London PHOTOS */
.tempting-town img {
	margin: 0 auto;
	margin-top: -5px;
}
.tempting-town--model > img {
	width: 1440px;
}
.tempting-town--model > img:hover {
	filter: saturate(115%) brightness(90%);
}

section.london-photos {
	position: relative;
	height: 600px;
	margin-top: 20px;
	width: 1920px;
}
.gif-picture1 {
	position: absolute;
	width: 1440px;
}
.gif-picture1 img {
	position: absolute;
	left: -60px;
	width: 652px;
}
.gif-picture1 img:hover {
	filter: saturate(115%) brightness(90%);
}
section.london-photos--two {
	position: relative;
	height: 250px;
	margin: 0 auto;
	margin-top: 100px;
}
.tabledancing-picture {
	width: 600px;
}
.tabledancing-picture img {
	left: 840px;
	position: absolute;
	top: -949px;
	width: 400px;
}
.tabledancing-picture img:hover {
	filter: saturate(115%) brightness(90%);
}
.centralcafe-picture {
	height: 300px;
}
.centralcafe-picture > img {
	height: 500px;
	position: absolute;
	left: 300px;
	top: -180px;
	width: 800px;
}
.centralcafe-picture > img:hover {
	filter: saturate(115%) brightness(90%);
}

/* SHOES section */
section.shoes-offer {
	height: 400px;
	margin-top: 120px;
	width: 1200px;
}
/* internal items */
.shoes-offer--item {
	display: inline-block;
	font-size: 18px;
	height: 300px;
	text-align: center;
	text-transform: uppercase;
	width: 260px;
}
.shoes-offer--item > button {
	background: #000;
	color: #fff;
	font-size: 14px;
	margin-top: 10px;
	padding: 7px 40px;
	text-transform: uppercase;
	transition-duration: .7s;
}
.shoes-offer--item > button:hover {
	background: #555;
}
.shoes-offer--item img {
	margin: 18px auto;
	width: 260px;
}
.shoes-offer--item p {
	letter-spacing: 1px;
	line-height: .9;
}
p.bolded-text {
	font-weight: bold;
}
p.light-text {
	font-weight: lighter;
}

/* LONDON SHINES sections */
section.london-shines {
	display: block;
	height: 800px;
	margin: 0 auto;
	position: relative;
	width: 1200px;
}
.london-shines-picture > img {
	position: absolute;
	width: 1200px;
}
section.london-shines--two {
	display: block;
	height: 860px;
	margin: 0 auto;
	margin-top: -224px;
	margin-left: 240px;
	position: relative;
	width: 1440px;
}
.gif-picture2 > img {
	left: -100px;
	position: absolute;
	top: 180px;
	width: 480px;
}
section.london-shines--twoBis {
	display: block;
	height: 500px;
	margin: 0 auto;
	margin-top: -600px;
	margin-left: 240px;
	position: relative;
	width: 1200px;
}
.moth-picture > img {
	left: 280px;
	position: absolute;
	top: 140px;
	width: 800px;
	z-index: -100;
}
.london-shines-picture > img:hover {
	filter: saturate(115%) brightness(90%);
}
.gif-picture2 > img:hover {
	filter: saturate(115%) brightness(90%);
}
.moth-picture > img:hover {
	filter: saturate(115%) brightness(90%);
}

/* CLOTHING offer section */
section.clothing-offer {
	display: block;
	height: 740px;
	margin-top: 200px;
}
.clothing-offer--item {
	display: inline-block;
	font-size: 18px;
	height: 600px;
	margin-right: 12px;
	text-align: center;
	text-transform: uppercase;
	width: 250px;
}
.clothing-offer--item > button {
	background: #000;
	color: #fff;
	font-size: 16px;
	margin-top: 20px;
	padding: 5px 30px;
	text-transform: uppercase;
	transition-duration: .7s;
}
.clothing-offer--item > button:hover {
	background: #555;
}
.clothing-img1, .clothing-img2, .clothing-img3, .clothing-img4 {
	height: 440px;
	margin-bottom: 18px;
	margin-top: 30px;
	width: 250px;
}
.clothing-img1 > img, .clothing-img2 > img, .clothing-img4 > img {
	height: 380px;
	margin-bottom: 10px;
	margin-top: 20px;
	width: 250px;
}
.clothing-img3 > img {
	height: 420px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 220px;
}
.clothing-offer--item p {
	letter-spacing: 1px;
	padding-bottom: 6px;
}
